@model SimpleBlog.Web.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="blog-post">
        <h2 class="blog-post-title">@Model.Post.Title</h2>
        <p class="blog-post-meta">@Model.Post.CreationDate</p>
        <p>@Model.Post.Text</p>
    </div>
    
    @if (User.Identity.IsAuthenticated){
        await Html.RenderPartialAsync("_newComment", Model.NewComment);
    }
    else
    {
        <p>You must be logged in to comment the post!</p>
        <a class="btn btn-sm btn-outline-secondary" 
           asp-controller="Account" asp-action="Login">Login</a>
        <hr/>
    }
   
    
    @foreach (var comment in Model.Comments)
    {
        <div class="col-8 d-flex">
            <h5>@comment.Author</h5> <span>- @comment.Date</span>
        </div>
        <p class="col-8 d-flex">@comment.Text</p>
        <hr/>
    }

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
